*           text=auto

# These files are text and should be normalized (convert crlf to lf)
*.c               text
*.h               text
*.txt             text
*.yaml            text
*.md              text
meson.build       text
meson_options.txt text